<h1>Editing image</h1>

<%= form_tag management_image_path(params[:id]), method: :patch  do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @image %> |
<%= link_to 'Back', :action => 'index' %>
