<%= error_messages_for :attack_spell %>

<!--[form:attack_spell]-->
<p><%= f.label :name %><br/>
  <%= f.text_field :name  %></p>

<p><%= f.label :description %><br/>
  <%= f.text_field :description  %></p>

<p><%= f.label :min_level %><br/>
  <%= f.text_field :min_level  %></p>

<p><%= f.label :min_dam %><br/>
  <%= f.text_field :min_dam  %></p>

<p><%= f.label :max_dam %><br/>
  <%= f.text_field :max_dam  %></p>

<p><%= f.label :dam_from_mag %><br/>
  <%= f.text_field :dam_from_mag  %></p>

<p><%= f.label :dam_from_int %><br/>
  <%= f.text_field :dam_from_int  %></p>

<p><%= f.label :mp_cost %><br/>
  <%= f.text_field :mp_cost  %></p>

<p><%= f.label :hp_cost %><br/>
  <%= f.text_field :hp_cost  %></p>

<p><%= f.label :splash %><br/>
  <%= f.check_box :splash  %></p>
<!--[eoform:attack_spell]-->

<%= submit_tag  %>