<%= form_for([:admin, @attack_spell]) do |f| %>
  <%= error_messages_for :attack_spell %>

  <!--[form:attack_spell]-->

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :min_level %><br/>
    <%= f.text_field :min_level %>
  </div>

  <div class="field">
    <%= f.label :min_dam %><br/>
    <%= f.text_field :min_dam %>
  </div>

  <div class="field">
    <%= f.label :max_dam %><br/>
    <%= f.text_field :max_dam %>
  </div>

  <div class="field">
    <%= f.label :dam_from_mag %><br/>
    <%= f.text_field :dam_from_mag %>
  </div>

  <div class="field">
    <%= f.label :dam_from_int %><br/>
    <%= f.text_field :dam_from_int %>
  </div>

  <div class="field">
    <%= f.label :mp_cost %><br/>
    <%= f.text_field :mp_cost %>
  </div>

  <div class="field">
    <%= f.label :hp_cost %><br/>
    <%= f.text_field :hp_cost %>
  </div>

  <div class="field">
    <%= f.label :splash %><br/>
    <%= f.check_box :splash %>
  </div>
  <!--[eoform:attack_spell]-->

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>