<h1>Listing attack_spells</h1>

<table>
  <tr>
  <% for column in AttackSpell.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for attack_spell in @attack_spells %>
  <tr>
  <% for column in AttackSpell.content_columns %>
    <td><%=h attack_spell.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => attack_spell %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => attack_spell %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => attack_spell }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @attack_spells %> 

<br />

<%= link_to 'New attack_spell', :action => 'new' %>
