<%= form_for [:admin,@name] do |f| %>
  <%= error_messages_for 'name' %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= submit_tag  %>
  </div>
<% end %>
