<h1>Editing world_map</h1>

<%#= form_tag :action => 'update', :id => @world_map do %>
<%= form_tag admin_world_map_path(@world, id: "#{@bigxpos}x#{@bigypos}"), method: :patch do %>
<table>
<% 1.upto(@world.maxy) do |y| %>
   <tr>
<%   1.upto(@world.maxx) do |x|
        square = @world.world_maps.where(bigypos: @bigypos, bigxpos: @bigxpos, ypos: y, xpos: x).last.feature %>
    <td>
      <% if square.nil? %>
         <select name="<%= 'map[' + y.to_s + '][' + x.to_s + ']' %>">
         <option value = ""/>
         <%= options_from_collection_for_select(@features, 'id','name') %>
           </select>
      <% elsif square.name[0..0] != "\n" %>
         <select name="<%= 'map[' + y.to_s + '][' + x.to_s + ']' %>">
         <option value = ""/>
         <%= options_from_collection_for_select(@features,'id','name',square.id ) %>
           </select>
      <% else %>
         <%= square.name[0..14] %>...
      <% end %>

    </td>
<%   end %>
   </tr>
   <% end %>
</table>

  <%= submit_tag %>
<% end %>

<%= link_to 'Back', admin_world_maps_path(@world) %>
