<h1>Editing world_map</h1>

<%= form_tag :action => 'update', :id => @world_map do %>
<table>
<% @x = 1
   @y = 1
   while @y <= @world.maxy %>
   <tr>
<%   while @x <= @world.maxx 
     #  square = session[:level_map][@y][@x] 
        square = @world.world_maps.find(:all, :conditions => ['bigypos = ? and bigxpos = ? and ypos = ? and xpos = ?', session[:bigypos], session[:bigxpos], @y, @x]).last.feature %>
    <td>
      <% if square.nil? %>
         <select name="<%= 'map[' + @y.to_s + '][' + @x.to_s + ']' %>">
         <option value = ""/>
         <%= options_from_collection_for_select(@features, 'id','name') %>
      <% elsif square.name[0..0] != "\n" %>
         <select name="<%= 'map[' + @y.to_s + '][' + @x.to_s + ']' %>">
         <option value = ""/>
         <%= options_from_collection_for_select(@features,'id','name',square.id ) %>
      <% else %>
         <%= square.name[0..14] %>...
      <% end %>

    </td>
<%   @x += 1
     end
     @x = 1
     @y += 1 %>
   </tr>
   <% end %>
</table>

  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Back', :action => 'show_map' %> |
<%= link_to 'Back to World', :action => 'show' %>
