<table>
<tr>
<td></td>
<% @world.minbigx.upto(@world.maxbigx) do |x| %>
<td><%= x %></td>
<% end %>
</tr>

<% @world.minbigy.upto(@world.maxbigy) do |y| %>
   <tr>
     <td><%= y %></td>
<%   @world.minbigx.upto(@world.maxbigx) do |x|
        square = WorldMap.where(world: @world, bigypos: y, bigxpos: x).last %>
    <td>
      <% if !square.nil? %>
        <%= link_to "#{square.bigxpos}, #{square.bigypos}", admin_world_map_path(@world, id: "#{square.bigxpos}x#{square.bigypos}") %>
      <% else %>
        _____
      <% end %>
    </td>
<%   end %>
   </tr>
   <% end %>
</table>

<br/>

<%= link_to 'New map', new_admin_world_map_path(world_id: @world) %> |
<%= link_to 'Back', admin_worlds_path %>