<h1>New world_map</h1>

<%= form_tag :action => 'create' do %>

<table>
<tr>
<td></td>
<% while @x <= @world.maxbigx %>
<td><%=h @x %></td>
<% @x += 1 %>
<% end %>
</tr>

<% @x = @world.minbigx
   while @y <= @world.maxbigy %>
   <tr>
     <td><%=h @y %></td>
<%   while @x <= @world.maxbigx 
        square = WorldMap.where(world_id: session[:wid], bigypos: @y, bigxpos: @x) %>
    <td>
      <%= radio_button "map", "loc", "#{@x},#{@y}", :disabled => square.size > 0 %>
    </td>
<%   @x += 1
     end
     @x = @world.minbigx
     @y += 1 %>
   </tr>
   <% end %>
</table>
  <%= submit_tag 'Generate' %>

<% end %>

<%= link_to 'Back', :action => 'show' %>
