<h1>New world_map</h1>

<%= form_tag admin_world_maps_path(@world), method: :post  do %>

<table>
<tr>
<td></td>
<% @world.minbigx.upto(@world.maxbigx) do |x| %>
<td><%= x %></td>
<% end %>
</tr>


<% @world.minbigy.upto(@world.maxbigy) do |y| %>
  <tr>
    <td><%= y %></td>
    <%   @world.minbigx.upto(@world.maxbigx) do |x|
        square = WorldMap.where(world_id: @world, bigypos: y, bigxpos: x) %>
    <td>
      <%= radio_button "map", "loc", "#{x},#{y}", :disabled => square.size > 0 %>
    </td>
<%   end %>
   </tr>
   <% end %>
</table>
  <%= submit_tag 'Generate' %>
<% end %>

<%= link_to 'Back', admin_world_maps_path(@world) %>
