<table>
<tr>
<td></td>
<% 1.upto(@world.maxx) do |x| %>
<td><%= x %></td>
<% end %>
</tr>

<% 1.upto(@world.maxy) do |y| %>
   <tr>
     <td><%= y %></td>
<%   1.upto(@world.maxx) do |x|
        @f = @world.world_maps.where(bigypos: @bigypos, bigxpos: @bigxpos, ypos: y, xpos: x).last.feature %>
    <td>
      <% if !@f.nil? %><pre class="world_feature"><%=h @f.image.image_text %></pre><% else %>*EMPTY*<% end %>
    </td>
<%   end %>
   </tr>
   <% end %>
</table>

<br/>

<%= link_to 'Edit', edit_admin_world_map_path(@world, id: "#{@bigxpos}x#{@bigypos}") %> |
<%= link_to 'Back', admin_world_maps_path(@world) %>
