<h1>Editing quest</h1>

<%= form_tag management_quest_path(@quest), method: :patch do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @quest %> |
<%= link_to 'Back', :action => 'index' %>
