<h1>Listing quests</h1>

<table>
  <tr>
    <th>name</th>
    <th>kingdom</th>
    <th>made by</th>
    <th>max level</th>
    <th>max comp.</th>
    <th>gold</th>
    <th>item</th>
    <th>status</th>
  </tr>
  
<% for quest in @quests %>
  <tr>
    <td><%= quest.name %></td>
    <td><%= quest.kingdom.name %></td>
    <td><%= quest.player.handle %></td>
    <td><%= quest.max_level %></td>
    <td><%= quest.max_completeable %></td>
    <td><%= quest.gold %></td>
    <td><% if !quest.item_id.nil? %><%= quest.item.name %><% else %>none<% end %></td>
    <td><% if quest.quest_status.nil? %>no staus<% else %><%= SpecialCode.get_text('quest_status',quest.quest_status) %><% end %></td>
   <% if quest.quest_status == SpecialCode.get_code('quest_status','design') %>
    <td><%= link_to 'Arm', { :action => 'activate', :id => quest, :page => params[:page] }, :confirm => 'Are you sure?', :method => :post %></td>
    <td><%= link_to 'Show', :action => 'show', :id => quest %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => quest %></td>
    <td><%= link_to 'Dstry', { :action => 'destroy', :id => quest, :page => params[:page] }, :confirm => 'Are you sure?', :method => :post %></td>
   <% elsif quest.quest_status == SpecialCode.get_code('quest_status','active') %>
    <td><%= link_to 'Retire', { :action => 'retire', :id => quest }, :confirm => 'Are you sure?', :method => :post %></td>
    <td><%= link_to 'Show', :action => 'show', :id => quest %></td>
   <% else %>
    <td><%= link_to 'Show', :action => 'show', :id => quest %></td>
   <% end %>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @quests %> 


<br />

<%= link_to 'New quest', :action => 'new' %>