<h1>Editing c_class</h1>

<%= form_tag :action => 'update', :id => @c_class do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @c_class %> |
<%= link_to 'Back', :action => 'list' %>
