<h1>Editing level</h1>

<%= form_for [:management,@level], path: management_level_path  do |f| %>
	<%= edit_kingdom_map(@level) %>
	<%= f.submit %>
<% end %>
<table>
<tr><td>Kingdom Coffers : <%= @gold %></td></tr>
<tr><td colspan=2>Pricing:</td></tr>
 <% for feature in @features %>
 <tr><td><label for="c<%= feature.id %>"></label> <%= feature.name %> </td><td><%= feature.cost %></td></tr>
 <% end %>
</table>


<%= link_to 'Show', :action => 'show', :id => @level %> |
<%= link_to 'List Levels', :action => 'index' %>
