<%= error_messages_for 'player_character' %>

<%= form_for @player_character, url: create_character_path(@player_character) do |f| %>
<table border=3>
 <tr><td>
  <p><%= f.label :name, 'Character Name:' %><br/>
  <%= f.text_field :name %></p>
 </td></tr>

  <%= f.fields_for(:image) do |image_form| %>
    <tr><td>
      <%= image_form.label :image_text %>
    </td></tr>
    <tr><td>
      <%= image_form.text_area :image_text, {:rows => '15', :cols => '20' } %>
    </td></tr>
  <% end %>

 <tr>
  <td>
   <p><%= f.label :kingdom_id, 'Home Kingdom:' %>
   <%= f.collection_select(:kingdom_id, @kingdoms, :id, :name) %></p>
  </td>
 </tr>
 <tr><td>
   <%= submit_tag %>
 </tr>
</table>
<% end %>
