<% ( player_signed_in? ? @what = {:action => 'namenew'} : @what = {:controller => 'registrations', :action => 'new'} ) %>
<%= javascript_include_tag 'charnew' %>

<%= form_tag @what, method: (player_signed_in? ? 'post' : 'get') do %>

<% if player_signed_in? %>
<p>Choose among many exciting races and classes for your character!</p>
<% end %>

<table border=3>
 <tr>
  <td width='200'>
   <p><label for="player_character_race_id">Race:</label><br/>
   <%#= collection_select('race','id', @races, 'id', 'name') %>
	 <%= select_tag('race_id', options_for_select(@races.inject({}){|h,r| h.merge(r.name => r.id) }) ) %></p>
  </td>
  <td width='200'>
   <p><label for="player_character_c_class_id">Class:</label><br/>
   <%#= collection_select('c_class','id', @c_classes, 'id', 'name' ) %>
	 <%= select_tag('c_class_id', options_for_select(@c_classes.inject({}){|h,c| h.merge(c.name => c.id) }) ) %></p>
  </td>
  <td width='200'>
   <b>Composite:</b>
  </td>
 </tr>
 <tr valign="top">
  <td>
    <div class="race_id_stat"></div>
  </td>
  <td>
    <div class="c_class_id_stat"></div>
  </td>
  <td>
   <p>These will be your starting stats, should you choose this race/class combination.<p>
  </td>
  </tr>
  <tr valign="top">
   <td>
     <b>Starting Stat Modifiers:</b>
   </td>
   <td>
     <b>Starting Stat Modifiers:</b>
   </td>
   <td>
    <b>Starting Stats:</b>
   </td>
  </tr>
  <tr  valign="top">
   <td>
     <table>
      <tr><td>Strength:</td><td><div class="race_id_stat"></div></td></tr>
      <tr><td>Damage:</td><td><div class="race_id_stat"></div></td></tr>
      <tr><td>Defense:</td><td><div class="race_id_stat"></div></td></tr>
      <tr><td>Dexterity:</td><td><div class="race_id_stat"></div></td></tr>
      <tr><td>Intelligence:</td><td><div class="race_id_stat"></div></td></tr>
      <tr><td>Magic:</td><td><div class="race_id_stat"></div></td></tr>
      <tr><td>Constitution:</td><td><div class="race_id_stat"></div></td></tr>
      <tr><td>FreePoints:</td><td><div class="race_id_stat"></div></td></tr>
      <tr><td>Initial Min Xp:</td><td><div class="race_id_stat"></div></td></tr>
     </table>
   </td>
   <td>
    <table>
     <tr><td>Strength:</td><td><div class="c_class_id_stat"></div></td></tr>
     <tr><td>Damage:</td><td><div class="c_class_id_stat"></div></td></tr>
     <tr><td>Defense:</td><td><div class="c_class_id_stat"></div></td></tr>
     <tr><td>Dexterity:</td><td><div class="c_class_id_stat"></div></td></tr>
     <tr><td>Intelligence:</td><td><div class="c_class_id_stat"></div></td></tr>
     <tr><td>Magic:</td><td><div class="c_class_id_stat"></div></td></tr>
     <tr><td>Constitution:</td><td><div class="c_class_id_stat"></div></td></tr>
     <tr><td>FreePoints:</td><td><div class="c_class_id_stat"></div></td></tr>
     <tr><td>Initial Min Xp:</td><td><div class="c_class_id_stat"></div></td></tr>
    </table>
   </td>
   <td>
    <table>
     <tr><td>Strength:</td><td><div class="statsum"></div></td></tr>
     <tr><td>Damage:</td><td><div class="statsum"></div></td></tr>
     <tr><td>Defense:</td><td><div class="statsum"></div></td></tr>
     <tr><td>Dexterity:</td><td><div class="statsum"></div></td></tr>
     <tr><td>Intelligence:</td><td><div class="statsum"></div></td></tr>
     <tr><td>Magic:</td><td><div class="statsum"></div></td></tr>
     <tr><td>Constitution:</td><td><div class="statsum"></div></td></tr>
     <tr><td>FreePoints:</td><td><div class="statsum"></div></td></tr>
     <tr><td>Initial Min Xp:</td><td><div class="statsum"></div></td></tr>
    </table>
   </td>
  </tr>
  <tr><td>
	 <% if player_signed_in? %>
		<%= submit_tag "Accept" %>
	 <% else %>
		<%= submit_tag "Register to play" %>
	 <% end %>
  </td></tr>
</table>
<% end %>

<%= raw class_stat_dump @c_classes %>
<%= raw race_stat_dump @races %>
