<p>You encounter <%= @player_character.name %></p>
<table><tr><td><pre class="creature"><%=h @player_character.image.image_text %></pre></td></tr></table>

I dont think this page actually shows up anywhere ever right now.

<p><%= link_to 'Wave', :action => 'wave_at_pc' %></p>
<p><%= link_to 'Attack!', fight_pc_game_battle_path, :method => :post  %></p>
<p><%= link_to 'Leave', :action => 'complete' %></p>