<%= form_for([:admin, @item]) do |f| %>
  <%= error_messages_for 'item' %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :min_level %><br/>
    <%= f.text_field :min_level %>
  </div>

  <%= f.fields_for(:stat) do |stat_form| %>
    <table>
      <% Stat.symbols.each{|stat_attr| %>
        <tr>
          <td><%= stat_form.label stat_attr %></td>
          <td><%= stat_form.text_field stat_attr, size: 5 %></td>
        </tr>
      <% } %>
    </table>
  <% end %>

  <div class="field">
    <%= f.label :price %><br/>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :base_item_id, "Base Item" %><br/>
    <%= f.collection_select(:base_item_id, BaseItem.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :equip_loc, "Equippable Location" %><br/>
    <%= f.collection_select(:equip_loc, SpecialCode.get_codes_and_text('equip_loc'), :second, :first) %>
  </div>

  <div class="field">
    <%= f.label :c_class_id, "Favored Class" %><br/>
    <%= f.collection_select(:c_class_id, CClass.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :race_id, "Favored Race" %><br/>
    <%= f.collection_select(:race_id, Race.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :race_body_type, "Race Body Type Rescriction" %><br/>
    <%= f.collection_select(:race_body_type, SpecialCode.get_codes_and_text('race_body_type'), :second, :first, {include_blank: true}) %>
  </div>

  <br/>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>