<p><b>name: </b><%= @kingdom_ban.name %></p>
<p><b>class: </b><%= @kingdom_ban.player_character.c_class.name %></p>
<p><b>race: </b><%= @kingdom_ban.player_character.race.name %></p>
<p><b>kingdom: </b><%= @kingdom_ban.player_character.kingdom.name %></p>


<%= link_to 'Back', :action => 'index' %>
