<h1><%=h @thred.name %></h1>
<p>*Note, in order to post you must have at least one character level 10 or higher</p>

<table><tr><td valign="top">
 <table width=115><tr><td><p><%= @thred.text %></p><p><%= link_to 'Back to Board', :action => 'threds' %></p></td></tr></table>
 </td><td>
 <% if (@thred.parent_forum_node(:is_locked) && @user_mod_level < 6) %>
 <b>This thread is locked</b>
 <% elsif not player_signed_in? %>
 <b>Must be signed in to post.</b>
 <% elsif (!ForumRestriction.no_posting(current_player) && current_player.player_characters.find_by('level > 9').present? && @post.nil?) %>
 <table class="post_text"><tr><td>
 <%= form_tag :action => 'create_post', :bname => @board.name, :tname => @thred.name do %>
   <%= render :partial => 'post_form' %>
   <%= submit_tag "Post!" %>
 <% end %>
 </td></tr>
 </table>
 <% end %>
 </td></tr>
</table>

<% if player_signed_in? && ForumRestriction.no_viewing(current_player) %>
You are prohibited from viewing the posts.
<% elsif @posts.size == 0 %>
No Posts
<% else %>
<table>
<% for post in @posts %>
<tr valign="top"><td>
  <table class="author" width=115>
    <tr><td><%= post.player.handle %></td></tr>
    <%= raw "<tr><td>Mod Level #{post.player.forum_attribute.mod_level}</td></tr>" if post.player.forum_attribute.mod_level > 0 %>
    <tr><td><%= post.player.forum_attribute.posts %> posts</td></tr>
    <tr><td>Member since:</td></tr>
    <tr><td><%= post.player.created_at.strftime("%m-%d-%Y") %></td></tr>
    <% if @user_mod_level > post.player.forum_attribute.mod_level %>
    <tr><td><%= link_to 'Punish', :action => 'banhammer', :player_id => post.player_id %></td></tr>
    <tr><td><%= link_to 'Promote', :action => 'promote_mod', :player_id => post.player_id %></td></tr>
    <% end %>
  </table>
</td><td>
  <table width=385>
    <% if @post && @post.id == post.id && @post.can_be_edited_by(current_player) %>
      <tr><td colspan=3>
      <%= form_tag :action => 'update_post', :forum_node_id => post.id, :bname => @board.name, :tname => @thred.name do %>
        <%= render :partial => 'post_form' %>
        <%= submit_tag "Update" %> | <%= link_to 'Cancel edit', :action => 'cancel_edit', :page => params[:page] %>
      <% end %>
      </td></tr>
    <% else %>
      <tr><td colspan=3>
      <% if post.is_mods_only %>
      <i><p width=100% class="post_text"><%= simple_format h post.text %></p></i>
      <% else %>
      <p width=100% class="post_text"><%= simple_format h post.text %></p>
      <% end %>
      <% if @user_mod_level == 9 %>
        <b>
        <%= raw "THIS POST IS LOCKED<br/>" if post.is_locked %>
        <%= raw "THIS POST ID HIDDEN<br/>" if post.is_hidden %>
        <%= raw "THIS POST HAS BEEN DELETED<br/>" if post.is_deleted %>
        <%= raw "THIS POST IS ONLY VISABLE TO MODS<br/>" if post.is_mods_only %>
        </b>
      <% end %>
      </td></tr>
      <tr class="edit_notices"><td colspan=3><%= raw post.edit_notices %></td></tr>
      <tr class="post_info"><td>posted <%= post.created_at.strftime("%m-%d-%Y %H:%M.%S %p") %></td>
      <td>
        <%= link_to('-edit', :action => 'edit_post', :bname => @board.name, :tname => @thred.name, :forum_node_id => post.id) if post.can_be_edited_by(current_player) %></td>
      <td>
        <%= link_to('-delete', :action => 'delete_post', :bname => @board.name, :tname => @thred.name, :forum_node_id => post.id) if post.can_be_deleted_by(current_player) %></td>
      </tr>
    <% end %>
  </table>
<tr><td colspan=100%><hr/></td></tr>
</td>
<% end %>
</table>
<% end %>

<p>
<%= will_paginate @posts %>
</p>
