<% if !@log_quest %>
<p><%= @event.initial_text %></p>
<p><%= link_to 'Accept Quest', do_join_quest_url() %></p>
<p><%= link_to 'Decline', do_decline_url() %></p>
<% elsif !@log_quest.reqs_met %>
<p><%= @event.req_text %></p>
<p><%= render :file => "game/log_quest_reqs.rhtml" %></p>
<p><%= link_to 'Ok', complete_url() %></p>
<% else %>
<p><%= @event.reward_text %></p>
<% if !@log_quest.rewarded %>
<p><%= flash[:notice] %></p>
<% end %>
<p><%= link_to 'Ok', complete_url() %></p>
<% end %>
<% flash[:notice] = "" %>