<%= form_for [:admin,@world] do |f| %>
  <%= error_messages_for 'world' %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :minbigx %><br/>
    <%= f.text_field :minbigx %>
  </div>

  <div class="field">
    <%= f.label :minbigy %><br/>
    <%= f.text_field :minbigy %>
  </div>

  <div class="field">
    <%= f.label :maxbigx %><br/>
    <%= f.text_field :maxbigx %>
  </div>

  <div class="field">
    <%= f.label :maxbigy %><br/>
    <%= f.text_field :maxbigy %>
  </div>

  <div class="field">
    <%= f.label :maxx %><br/>
    <%= f.text_field :maxx %>
  </div>

  <div class="field">
    <%= f.label :maxy %><br/>
    <%= f.text_field :maxy %>
  </div>

  <div class="field">
    <%= f.label :text %><br/>
    <%= f.text_field :text %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>