<h1>Editing kingdom_entry</h1>

<% if @pc && @pc.id == session[:kingdom][:player_character_id] %>
  <%= form_tag :action => 'withdraw' do %>
    <p><label for="withdraw">Withdraw amount:</label>(<%= session[:kingdom].gold %> gold in coffers)<br/>
    <%= text_field 'withdraw',''  %></p>
    <%= submit_tag 'Withdrawl' %>
  <% end %>

  <%= form_tag :action => 'deposit' do %>
    <p><label for="deposit">Deposit amount:</label>(<%= @pc.gold %> gold on person)<br/>
    <%= text_field 'deposit',''  %></p>
    <%= submit_tag 'Deposit' %>
  <% end %>
<% end %>

<%= form_tag :action => 'adjust_tax' do %>
  <p><label for="adjust_tax">New tax rate:</label>(<%= session[:kingdom].tax_rate %> current rate)<br/>
  <%= text_field 'taxes',''  %></p>
  <%= submit_tag 'Adjust' %>
<% end %>


<%= link_to 'Show', :action => 'show' %>
