<p>Clinic</p>
<% if (@dcr = disease_cures(@pc, @diseases_cured, @npc.kingdom.tax_rate / 100.0)) != "" || (@max_HP_heal + @max_MP_heal > 0) %>
<table>
<%= @dcr %>

<% if @max_HP_heal > 0 %>
<tr><td><%= link_to 'Heal ' + @max_HP_heal.to_s + ' HP', { :action => 'do_heal', :HP => true } , :method => :post %></td><td> for <%= @max_HP_heal_cost %> gold</td></tr>
<% end %>
<% if @max_MP_heal > 0 %>
<tr><td><%= link_to 'Heal ' + @max_MP_heal.to_s + ' MP', { :action => 'do_heal', :MP => true } , :method => :post %></td><td> for <%= @max_MP_heal_cost %> gold</td></tr>
<% end %>
</table>
<% else %>
<p>Nothing more can be done for you here.</p>
<% end %>

<%= link_to 'Back', :action => 'npc' %>