<% if @npc.kind == "NpcMerchant" %>
<p><%= @npc.name %>'s Workshop</p>
  <% if @npc.npc_merchant_detail.healing_sales %>
    <p><%= link_to 'Recieve healing', :action => 'heal' %></p>
  <% end %>
  <% if @npc.npc_merchant_detail.trainer_sales %>
    <p><%= link_to 'Train', :action => 'train' %></p>
  <% end %>
  <% if @npc.npc_merchant_detail.blacksmith_sales %>
    <p><%= link_to 'Buy new items', :action => 'smithy' %></p>
  <% end %>
  <% if @npc.npc_merchant_detail.consignor %>
      <p><%= link_to 'Buy used items', :action => 'buy' %></p>
    <p><%= link_to 'Sell items', :action => 'sell' %></p>
  <% end %>
<% elsif @npc.kind == "NpcGuard" %>
<p><%= @npc.name %> is standing here</p>
<% elsif @npc.kind == "" %>
<p>You encounter peasants!</p>
<% else %>
<p>Unrecognized NPC type</p>
<% end %>

<p><%= link_to 'Attack!', fight_npc_game_battle_path, :method => :post %></p>
<p><%= link_to 'Leave', :controller => '/game', :action => 'complete' %></p>