<%= error_messages_for 'atrib' %>

<%= form_tag :action => 'do_train' do %>
<table>
	<tr>
		<td>Attribute</td>
		<td>Raise by</td>
		<td>Max</td>
		<td>Gold per Point</td>
	</tr>
	<% Stat.symbols.each{|atr|
      @gainable = (@pc.base_stat[atr] * @max_skill / 100.0).to_i - @pc.trn_stat[atr]
      @flag = true
      next unless @gainable > 0 and @flag %>
	<tr>
		<td><%= Stat.human_attr(atr).capitalize %></td>
		<td><%= text_field("atrib",atr.to_s) %></td>
		<td><%= @gainable %></td>
		<td><%= @cost_per_pt %></td>
	</tr>
	<%	} %>
</table>
<p><%=(@flag ? submit_tag("Train") : "You cannot train any farther" )%></p>

<% end %>
<p><%= link_to 'Back', :action => 'npc' %></p>
