<h1>Listing races</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>RBT</th>
		<th>Freepts</th>
	<th>Slots</th>
	</tr>
  
<% for race in @races %>
	<tr>
		<td><%= race.name %></td>
		<td><%= race.description %></td>
		<td><%= SpecialCode.get_text('race_body_type', race.race_body_type) %></td>
		<td><%= race.freepts %></td>
		<td><%= race.race_equip_locs.size %></td>
		<td><%= link_to 'Edit', :action => 'edit', :id => race %></td>
		<td><%= link_to 'Destroy', { :action => 'destroy', :id => race }, :confirm => 'Are you sure?', :method => :post %></td>
	</tr>
	<tr>
	<td></td>
		<td>
		<% Stat.symbols.each{|sym| p sym.to_s + race.inspect %>
		<%= sym.to_s %>:<%= race.level_zero[sym] %>. 
		<% } %>
		</td>
	</tr>
<% end %>
</table>

<%= will_paginate @races %> 

<br />

<%= link_to 'New race', :action => 'new' %>
