<table>
  <tr><td><b>name: </b></td><td><%=h @feature.name %></td></tr>
  <tr><td><b>description: </b></td><td><%=h @feature.description %></td></tr>
  <tr><td><b>action cost: </b></td><td><%=h @feature.action_cost %></td></tr>
  <tr><td><b>player: </b></td><td><%=h @feature.player.handle %></td></tr>
  <tr><td><b>kingdom: </b></td><td><%=h @feature.kingdom.name %></td></tr>
  <tr><td><b>public: </b></td><td><%=h @feature.public %></td></tr>
  <% if session[:player].admin %><tr><td><b>world feature: </b></td><td><%=h @feature.world_feature %></td></tr><% end %>
  <tr><td><b>cost: </b></td><td><%=h @feature.cost %></td></tr>
  <tr><td><b>num occupants: </b></td><td><%=h @feature.num_occupants %></td></tr>
  <tr><td><b>store front size: </b></td><td><%=h @feature.store_front_size %></td></tr>
  <tr><td><b>image: </b></td><td><%=h @feature.image.name %></td></tr>
</table>

<table><tr><td>
<p><span class="feature image"><%=h @feature.image.image_text %></span></p>
</table>

<b>Events:</b><br />
<% if @feature_events.size > 0 %>
<table>
  <tr>
    <th>Priority</th>
    <th>Event</th>
    <th>Chance</th>
    <th>Choice</th>
  </tr>
<% for feature_event in @feature_events do %>
  <%# if feature_event.event.name != "\nSYSTEM GENERATED" %>
  <tr>
    <td><%=h feature_event.priority %></td>
    <td><%=h feature_event.event.name %></td>
    <td><%=h feature_event.chance %></td>
    <td><%=h feature_event.choice %></td>
    <td><%= link_to 'Edit',:action => 'edit_feature_event', :id => feature_event %></td>
    <td><%= link_to 'Destroy', { action: 'destroy_feature_event', id: feature_event }, data: { confirm: 'Are you sure?' }, method: :delete %></td>
  </tr>
  <%# end %>
<% end %>
</table>
<% else %>
None
<% end %>

<br/>

<% if !@feature.armed %>
<%= link_to 'ARM', arm_management_feature_path(@feature, page: params[:page]), data: { confirm: 'Are you sure?' }, method: :post %> |
<%= link_to 'Edit Feature', :action => 'edit', :id => @feature %> |
<%= link_to 'Add Feature Events', :action => 'new_feature_event', :id => @feature %> | 
<% end %>
<%= link_to 'Back', :action => 'index' %>