<%= form_for([:admin,@trainer_skill]) do |f| %>
  <%= error_messages_for 'trainer_skill' %>

  <div class="field">
    <%= f.label :max_skill_taught %><br/>
    <%= f.text_field :max_skill_taught %>
  </div>

  <div class="field">
    <%= f.label :min_sales %><br/>
    <%= f.text_field :min_sales %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>