<h1>Listing trainer_skills</h1>

<table>
  <tr>
  <% for column in TrainerSkill.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for trainer_skill in @trainer_skills %>
  <tr>
  <% for column in TrainerSkill.content_columns %>
    <td><%=h trainer_skill.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Edit', edit_admin_trainer_skill_path(trainer_skill) %></td>
    <td><%= link_to 'Destroy', [:admin,trainer_skill], data:{confirm: 'Are you sure?'}, method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @trainer_skills  %> 

<br />

<%= link_to 'New trainer_skill', new_admin_trainer_skill_path %>
