<% if @player %>
  <h1>Welcome back, <%=h @player.handle %></h1>
  <p>Site wide announcement here<p/>
  <% if @actives.size > 0 %>
    <p><b>Active characters:</b></p>
    <% for active in @actives %>
      <span title="Click to play this character">
      <p>
      <%= link_to '[#]', {:controller => 'character', :action => 'do_choose', :id => active.id} , :method => :post %><%=h active.name %>
      <% if active.kingdom.present? %> of <%=h active.kingdom.name %><% end %>
      </p>
      </span>
    <% end %>
  <% end %>

  <% if @retireds.size > 0 %>
    <p><%=h @retireds.size %> characters in retirement</p>
  <% end %>

  <% if @deads.size > 0 %>
    <p><%=h @deads.size %> completely dead characters</p>
  <% end %>
<% else %>
	<h1>Weclome!</h1>
	<div style="float:left;"><%= image_tag "peasant.png", height: '95px', width: '70px' %></div>
	<p>Asciigame.com is a free online mmorpg, consisting of quasi graphics composed of ascii characters.</p>
	<p>You'll need to <%= link_to('signin', new_player_session_path) + ' or ' + link_to('register', new_player_registration_path) %> to access the game or post to the forums.</p>
	<div style="float:right;clear:left;">
		<%= image_tag "cap2.png", height: '300px', width: '300px' %>
	</div><br/>
	<%= render(:file => 'account/what') %>
<% end %>
