<!--[form:blacksmith_skill]-->
<%= form_for([:admin, @blacksmith_skill]) do |f| %>
  <%= error_messages_for 'blacksmith_skill' %>

  <div class="field">
    <%= f.label :min_sales %><br/>
    <%= f.text_field :min_sales %>
  </div>

  <div class="field">
    <%= f.label :min_mod %><br/>
    <%= f.text_field :min_mod %>
  </div>

  <div class="field">
    <%= f.label :max_mod %><br/>
    <%= f.text_field :max_mod %>
  </div>

  <div class="field">
    <%= f.label :base_item_id %><br/>
    <%= f.collection_select(:base_item_id, BaseItem.all, :id, :name) %>
  </div>

  <br/>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
<!--[eoform:blacksmith_skill]-->