<%= form_for [:admin,@name_title] do |f| %>
  <%= error_messages_for 'name_title' %>

  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :stat %><br/>
    <%= f.select :stat, @stats %>
  </div>

  <div class="field">
    <%= f.label :points %><br/>
    <%= f.text_field :points %>
  </div>

  <div class="actions">
    <%= submit_tag  %>
  </div>
<% end %>
