<h1>Editing name_title</h1>

<%= form_tag :action => 'update', :id => @name_title do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @name_title %> |
<%= link_to 'Back', :action => 'list' %>
