<table>
<tr><td><b>Attack Spells</b></td></td>
  <tr>
    <td><b>Name</b></td>
    <td><b>Min Level<b></td>
    <td><b>Damage</b></td>
    <td><b>from Mag</b></td>
    <td><b>from Int</b></td>
    <td><b>MP<b></td>
    <td><b>HP</b></td>
    <td><b>Splash</b></td>
  </tr>
<% for spell in @attack_spells %>
  <tr>
    <td><span title="<%= spell.description %>"><%= spell.name %></span></td>
    <td><%= spell.min_level %></td>
    <td><%= spell.min_dam %>-<%= spell.max_dam %></td>
    <td><%= spell.dam_from_mag %></td>
    <td><%= spell.dam_from_int %></td>
    <td><%= spell.mp_cost %></td>
    <td><%= spell.hp_cost %></td>
    <td><% if spell.splash %>X<% end %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @attack_spells %> 

<%= render :file => 'characterse/footer' %>
