<p>Infections</p>

<% if @infections %>
  <table>
  <tr><td><b>Infections</b></td></td>
    <tr>
      <th>Name</th>
      <th>dam</th>
      <th>dfn</th>
      <th>str</th>
      <th>dex</th>
      <th>mag</th>
      <th>int</th>
      <th>con</th>
      <th>HP /turn</th>
      <th>MP /turn</th>
    </tr>
  <% for infection in @infections %>
    <tr>
      <td><span title="<%= infection.disease.description %>"><%= infection.disease.name %></span></td>
      <td><%= infection.disease.stat.dam %></td>
      <td><%= infection.disease.stat.dfn %></td>
      <td><%= infection.disease.stat.str %></td>
      <td><%= infection.disease.stat.dex %></td>
      <td><%= infection.disease.stat.mag %></td>
      <td><%= infection.disease.stat.int %></td>
      <td><%= infection.disease.stat.con %></td>
      <td><%= infection.disease.HP_per_turn %></td>
      <td><%= infection.disease.MP_per_turn %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @infections %>

<%= render :file => 'characterse/footer' %>
