<p>Stats and Equipment</p>
<table>
<tr><td>Name: </td><td><%= @pc.name %></td></tr>
<tr><td><span title="<%= @pc.race.description %>">Race: </td><td><%= @pc.race.name %></span></td></tr>
<tr><td><span title="<%= @pc.c_class.description %>">Class: </td><td><%= @pc.c_class.name %></span></td></tr>
<tr><td>Body Type: </td><td><%= SpecialCode.get_text('race_body_type',@pc.race.race_body_type) %></td></tr>
<tr><td>Level: </td><td><%= @pc.level %></td></tr>
<tr><td>XP: </td><td><%= @pc.experience %></td></tr>
<tr><td>Next Lvl @ </td><td><%= @pc.next_level_at %></td></tr>
</table>
<br/>


<table>
  <tr><td colspan=3><b>Stats</b></td></tr>
<tr>
  <td><b>Attribute</b></td>
  <td><b>Current</b></td>
  <td><b>Base</p></td>
  <td><b>Training</b></td>
</tr>
<tr>
  <td><b>Damage</b></td>
  <td><%= @pc.stat.dam %></td>
  <td><%= @pc.base_stat.dam %></td>
  <td><%= @pc.trn_stat.dam  %></td>
</tr>
<tr>
  <td><b>Defense</b></td>
  <td><%= @pc.stat.dfn %></td>
  <td><%= @pc.base_stat.dfn %></td>
  <td><%= @pc.trn_stat.dfn  %></td>
</tr>
<tr>
  <td><b>Strength</b></td>
  <td><%= @pc.stat.str %></td>
  <td><%= @pc.base_stat.str %></td>
  <td><%= @pc.trn_stat.str  %></td>
</tr>
<tr>
  <td><b>Dexterity</b></td>
  <td><%= @pc.stat.dex %></td>
  <td><%= @pc.base_stat.dex %></td>
  <td><%= @pc.trn_stat.dex  %></td>
</tr>
<tr>
  <td><b>Magic</b></td>
  <td><%= @pc.stat.mag %></td>
  <td><%= @pc.base_stat.mag %></td>
  <td><%= @pc.trn_stat.mag  %></td>
</tr>
<tr>
  <td><b>Intelligence</b></td>
  <td><%= @pc.stat.int %></td>
  <td><%= @pc.base_stat.int %></td>
  <td><%= @pc.trn_stat.int  %></td>
</tr>
<tr>
  <td><b>Constitution</b></td>
  <td><%= @pc.stat.con %></td>
  <td><%= @pc.base_stat.con %></td>
  <td><%= @pc.trn_stat.con  %></td>
</tr>
<tr>
  <td><b>Freepoints</b></td>
  <td><%= @pc.freepts %></td>
</tr>
</table>

<table>
<% if @pc.c_class.attack_spells %>
<tr><td><%= link_to 'Attack Spells', :action => 'attack_spells' %></td></tr>
<% end %>
<% if @pc.c_class.healing_spells %>
<tr><td><%= link_to 'Healing Spells', :action => 'healing_spells' %></td></tr>
<% end %>
<% if @pc.illnesses.size > 0 %>
<tr><td><%= link_to 'Infections', :action => 'infections' %></td></tr>
<% end %>
<% if @pc.player_character_killers.size > 0 %>
<tr><td><%= link_to 'PC kills', :action => 'pc_kills' %></td></tr>
<% end %>
<% if @pc.nonplayer_character_killers.size > 0 %>
<tr><td><%= link_to 'NPC kills', :action => 'npc_kills' %></td></tr>
<% end %>
<% if @pc.genocides.size > 0 %>
<tr><td><%= link_to 'Genocides', :action => 'genocides' %></td></tr>
<% end %>
<% if @pc.done_quests.size > 0 %>
<tr><td><%= link_to 'Completed Quests', :action => 'done_quests' %></td></tr>
<% end %>
<tr><td><%= link_to 'Inventory/Equip', :action => 'inventory' %></td></tr>
</table>