<p>NPC Kills</p>

<% if @npc_kills %>
  <table>
  <tr><td><b>Kills:</b> <%= @pc.nonplayer_character_killers.size %></td></td>
    <tr>
      <th>Name</th>
      <th>Home</th>
      <th>Date</th>
    </tr>
  <% for npc in @npc_kills %>
    <tr>
      <td><%= npc.npc.name %></td>
      <td><% if npc.npc.kingdom %><%= npc.npc.kingdom.name %><% else %>[none]<% end %></td>
      <td><% if npc.when %><%= npc.when.to_date.to_s %><% end %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @npc_kills %> 

<%= render :file => 'characterse/footer' %>
