<p>Player Character Kills</p>

<% if @pc_kills %>
  <table>
  <tr><td><b>Kills:</b> <%= @pc.player_character_killers.size %></td></tr>
    <tr>
      <th>Name</th>
      <th>Home</th>
      <th>Date</th>
    </tr>
  <% for pc in @pc_kills %>
    <tr>
      <td><%= pc.killed_character.name %></td>
      <td><% if pc.killed_character.kingdom %><%= pc.killed_character.kingdom.name %><% else %>[none]<% end %></td>
      <td><% if pc.created_at %><%= pc.created_at.to_date.to_s %><% end %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @pc_kills %>

<%= render :file => 'characterse/footer' %>
