<%= form_for [:admin,@name_surfix] do |f| %>
  <%= error_messages_for 'name_surfix' %>

  <div class="field">
    <%= f.label :surfix %><br/>
    <%= f.text_field :surfix %>
  </div>

  <div class="actions">
    <%= submit_tag  %>
  </div>
<% end %>

