<h1>Listing name_surfixes</h1>

<table>
  <tr>
  <% for column in NameSurfix.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for name_surfixes in @name_surfixes %>
  <tr>
  <% for column in NameSurfix.content_columns %>
    <td><%=h name_surfixes.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => name_surfixes %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => name_surfixes %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => name_surfixes }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @name_surfixes %> 

<br />

<%= link_to 'New name_surfixes', :action => 'new' %>
