<% if !@levels.nil? %>
  <%= form_tag :action => 'throne_square' do %>
  <p>Select level:</p>
  <%= collection_select 'level','id',@levels,'id','level', selected: (@throne ? @throne.level_maps.last.level_id : nil) %>
   <%= submit_tag 'Accept' %>
  <% end %>

<% elsif !@squares.nil? %>
<%= form_tag :action => 'set_throne' do %>
<p>Select available square. Grey squares cannot be built upon; something already occupies that space.</p>
<table>
<% (0..@squares.maxy-1).each do |y| %>
  <tr>
    <% (0..@squares.maxx-1).each do |x| %>
    <td><% @lm = @squares.level_maps.where(ypos: y, xpos: x).last %>
    <%= feature_name = @lm.feature.try(:name).to_s %>
    <%= feature_name =~ /Throne/ %>
    <%= radio_button_tag 'throne[spot]', @lm.id, feature_name =~ /Throne/, disabled: !@lm.feature.valid_throne_location %>
    </td>
<%  end %>
</tr>
<% end %>
</table>
 <%= submit_tag 'Accept' %>
<% end %>
<br/>
<%= link_to 'Back',:action => 'throne_level' %>

<% else %>
  <% if @throne.nil? %>
  The throne is currently on at the ground floor of the castle.
  <% else %>
  The throne is on level <%=h @throne.level_maps.last.level.level %> at <%=h @throne.level_maps.last.xpos %> by <%=h @throne.level_maps.last.ypos %>
  <% end %>

<br/>
<br/>

<%= link_to 'Relocate Throne', :action => 'throne_level' %>
<% end %>

<br/>
<%= link_to 'Cancel', :action => 'show' %>
