<%= error_messages_for 'npc','health','stat' %>

<!--[form:npc]-->
<ul class="form">
<li><label for="npc_name">Name</label>
<%= text_field 'npc', 'name' %></li>

<li><label for="health_wellness">Wellness</label>
<%= select 'health', 'wellness', SPEC_CODET['wellness'] %></li>

<li><label for="npc_kind">Npc division</label>
<% if !@npc.new_record? %>
<%= @npc.kind[3..-1] %>
<% else %>
<%= select 'npc', 'kind', @divisions %>
<% end %></li>

<li><label for="health_base_HP">Base hp</label>
<%= text_field 'health', 'base_HP' %></li>

<li><label for="health_HP">Hp</label>
<%= text_field 'health', 'HP' %></li>

<li><label for="stat_str">Str</label>
<%= text_field 'stat', 'str' %></li>

<li><label for="stat_dex">Dex</label>
<%= text_field 'stat', 'dex' %></li>

<li><label for="stat_con">Con</label>
<%= text_field 'stat', 'con' %></li>

<li><label for="stat_int">Int</label>
<%= text_field 'stat', 'int' %></li>

<li><label for="stat_mag">Mag</label>
<%= text_field 'stat', 'mag' %></li>

<li><label for="stat_dam">Dam</label>
<%= text_field 'stat', 'dam' %></li>

<li><label for="stat_def">Dfn</label>
<%= text_field 'stat', 'dfn' %></li>

<li><label for="npc_gold">Gold</label>
<%= text_field 'npc', 'gold' %></li>

<li><label for="npc_experience">Experience</label>
<%= text_field 'npc', 'experience' %></li>

<li><label for="npc_is_hired?">Hired?</label>
<%= check_box 'npc','is_hired' %></li>
<!--[eoform:npc]-->