<%= form_for([:admin, @creature]) do |f| %>
  <%= error_messages_for 'creature' %>

  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <td><%= f.label :HP %></td>
      <td><%= f.text_field :HP %></td>
    </tr>
  <%= f.fields_for(:stat) do |stat_form| %>
    <% Stat.symbols.each{|stat_attr| %>
    <tr>
      <td><%= stat_form.label stat_attr %></td>
      <td><%= stat_form.text_field stat_attr, size: 5 %></td>
    </tr>
    <% } %>
  <% end %>
    <tr>
      <td><%= f.label :gold %></td>
      <td><%= f.text_field :gold %></td>
    </tr>

    <tr>
      <td><%= f.label :image_id, "Choose Image, or create a new one" %></td>
      <td><%= f.collection_select :image_id, @images, :id, :name, {include_blank: ''}  %></td>
    </tr>

  <%= f.fields_for(:image) do |image_form| %>
    <tr><td colspan="2">
      <%= image_form.label :image_text %>
    </td></tr>
    <tr><td colspan="2">
      <%= image_form.text_area :image_text %>
      <%= image_form.hidden_field :image_type, {value: SpecialCode.get_code('image_type','creature')}%>
    </td></tr>
    </div>
  <% end %>

    <tr>
      <td><%= f.label :number_alive %></td>
      <td><%= f.text_field :number_alive %></td>
    </tr>
    <tr>
      <td><%= f.label :fecundity %></td>
      <td><%= f.text_field :fecundity %></td>
    </tr>
    <tr>
      <td><%= f.label :disease_id %></td>
      <td><%= f.collection_select :disease_id, @diseases, :id, :name, {include_blank: ''} %></td>
    </tr>
  </table>

  <div class="field">
    <%= f.label :public %><br/>
    <%= f.check_box :public %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>