<ul class="battle_report">
<% for duder in flash[:battle_report] 
    for hurt in duder[1] %>
  <li>
  <% if hurt.class == String %>
    <%=h duder[0] +" " + hurt %>
  <% elsif hurt[1].class == String %>
    <%=h duder[0] +" " + hurt[1] + " " + hurt[0] %>
  <% elsif hurt[1] == 1 %>
    <%= duder[0] + " killed " + hurt[0] %>
  <% elsif hurt[1] == nil %>
    <%= duder[0] + " attacked " + hurt[0] + ", but they're already dead." %>
  <% else %>
    <%= duder[0] + " killed " + hurt[1].to_s + " " + hurt[0].pluralize %>
  <% end %>
  </li>
<%  end
   end %>
</ul>