<%= form_for([:admin,@healer_skill]) do |f| %>
  <%= error_messages_for 'healer_skill' %>

  <div class="field">
    <%= f.label :max_HP_restore %><br/>
    <%= f.text_field :max_HP_restore %>
  </div>

  <div class="field">
    <%= f.label :max_MP_restore %><br/>
    <%= f.text_field :max_MP_restore %>
  </div>

  <div class="field">
    <%= f.label :max_stat_restore %><br/>
    <%= f.text_field :max_stat_restore %>
  </div>

  <div class="field">
    <%= f.label :disease_id %><br/>
    <%= f.collection_select(:disease_id, @diseases, 'id', 'name', {include_blank: true} ) %>
  </div>

  <div class="field">
    <%= f.label :min_sales %><br/>
    <%= f.text_field :min_sales %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>