<p><b>max_HP_restore: </b><%= @healer_skill.max_HP_restore %></p>
<p><b>max_MP_restore: </b><%= @healer_skill.max_MP_restore %></p>
<p><b>disease: </b><%= @healer_skill.disease.try(:name) || "N/A" %></p>
<p><b>max_stat_restore: </b><%= @healer_skill.max_stat_restore %></p>
<p><b>min_sales: </b><%= @healer_skill.min_sales %></p>

<%= link_to 'Edit', edit_admin_healer_skill_path(@healer_skill) %> |
<%= link_to 'Back', admin_healer_skills_path %>
