<%= error_messages_for 'player' %>

<!--[form:player]-->
<ul class="form">
	<li><label for="player_handle">Handle</label>
		<%= text_field 'player', 'handle', {:disabled => !@player.new_record?} %></li>
	<li><label for="player_passwd">Passwd</label>
		<%= password_field 'player', 'passwd'  %></li>
	<li><label for="player_city">City</label>
		<%= text_field 'player', 'city'  %></li>
	<li><label for="player_state">State</label>
		<%= text_field 'player', 'state'  %></li>
	<li><label for="player_country">Country</label>
		<%= text_field 'player', 'country'  %></li>
	<li><label for="player_email">Email</label>
		<%= text_field 'player', 'email'  %></li>
	<li><label for="player_bio">Bio</label>
		<%= text_area 'player', 'bio'  %></li>
</ul>

<!--[eoform:player]-->
