<h1>Listing players</h1>

<table>
	<tr>
		<th>handle</th>
		<th>city</th>
		<th>state</th>
		<th>country</th>
	</tr>
	
<% for player in @players %>
	<tr>
		<td><%= player.handle %></td>
		<td><%= player.city %></td>
		<td><%= player.state %></td>
		<td><%= player.country %></td>
		<td><%= link_to 'Show', :action => 'show', :id => player %></td>
	</tr>
<% end %>
</table>

<%= will_paginate @players %> 

<br />