<h1>Sign in</h1>
<p>If you need to register for an account, follow the <%= link_to('Register', register_url()) %> link.</p>
<p>Otherwise, for existing users, please sign in below.</p>

<%= form_tag :action => 'verify', :id => @player do %>
	<ul class="form">
		<li><label for="player_handle">Handle</label><%= text_field 'player', 'handle'  %></li>
		<li><label for="player_password">Password</label><%= password_field 'player', 'password'  %></li>
	</ul>
	<ul class="form">
		<li><%= submit_tag 'Login' %></li>
	</ul>
<% end %>
