<h1>New player</h1>

<%= form_tag :action => 'create' do %>
  <%= hidden_field_tag 'race_id', params[:race_id] %>
  <%= hidden_field_tag 'c_class_id', params[:c_class_id] %>
  <%= render :partial => 'form' %>
  <p>
    <%= recaptcha_tags %>
  </p>
  <ul class="form">
    <li><%= submit_tag "Create" %></li>
  </ul>
<% end %>

<%= link_to 'Back', :action => 'list' %>
