<%= form_for([:admin, @healing_spell]) do |f| %>
  <%= error_messages_for 'healing_spell' %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :min_level %><br/>
    <%= f.text_field :min_level %>
  </div>

  <div class="field">
    <%= f.label :min_heal %><br/>
    <%= f.text_field :min_heal %>
  </div>

  <div class="field">
    <%= f.label :max_heal %><br/>
    <%= f.text_field :max_heal %>
  </div>

  <div class="field">
    <%= f.label :mp_cost %><br/>
    <%= f.text_field :mp_cost %>
  </div>

  <div class="field">
    <%= f.label :disease_id, "Disease" %><br/>
    <%= f.collection_select(:disease_id, Disease.all, :id, :name, {include_blank: true} ) %>
  </div>

  <div class="field">
    <%= f.label :cast_on_others %><br/>
    <%= f.check_box :cast_on_others %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>