<h1>Editing healing_spell</h1>

<%= form_tag :action => 'update', :id => @healing_spell do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @healing_spell %> |
<%= link_to 'Back', :action => 'list' %>
