<%= form_for([:admin,@disease]) do |f| %>
  <%= error_messages_for 'disease' %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :trans_method %><br/>
    <%= f.collection_select(:trans_method, SpecialCode.get_codes_and_text('trans_method'), :second, :first ) %>
  </div>

  <div class="field">
    <%= f.label :NPC_fatal %><br/>
    <%= f.check_box :NPC_fatal %>
  </div>

  <div class="field">
    <%= f.label :virility %> (% change of it spreading when encountered)<br/>
    <%= f.text_field :virility %>
  </div>

  <div class="field">
    <%= f.label :HP_per_turn %><br/>
    <%= f.text_field :HP_per_turn %>
  </div>

  <div class="field">
    <%= f.label :MP_per_turn %><br/>
    <%= f.text_field :MP_per_turn %>
  </div>

  <div class="field">
    <%= f.label :peasant_fatality %> (% peasants die daily)<br/>
    <%= f.text_field :peasant_fatality %>
  </div>

  <div class="field">
    <%= f.label :min_peasants %>  (for a epidemic set in at a kingdom)<br/>
    <%= f.text_field :min_peasants %>
  </div>

  <div class="field">
    Impact to stats<br/>
    <%= f.fields_for(:stat) do |stat_form| %>
      <table>
        <% Stat.symbols.each{|stat_attr| %>
          <tr>
            <td><%= stat_form.label stat_attr %></td>
            <td><%= stat_form.text_field stat_attr, size: 5 %></td>
          </tr>
        <% } %>
      </table>
    <% end %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>