<h1>Editing disease</h1>

<%= form_tag :action => 'update', :id => @disease do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @disease %> |
<%= link_to 'Back', :action => 'list' %>
