<%= form_for([:admin, @base_item]) do |f| %>
  <%= error_messages_for 'base_item' %>

  <!--[form:base_item]-->
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :price %><br/>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :equip_loc %><br/>
    <%= f.collection_select(:equip_loc, SpecialCode.get_codes_and_text('equip_loc'), :second, :first, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :race_body_type %><br/>
    <%= f.collection_select(:race_body_type, SpecialCode.get_codes_and_text('race_body_type'), :second, :first, {:include_blank => true}) %>
  </div>

  <br/>

  <div class="actions">
    <%= submit_tag %>
  </div>

  <!--[eoform:base_item]-->
<% end %>