<%= error_messages_for 'base_item' %>

<!--[form:base_item]-->
<p><label for="base_item_name">Name</label><br/>
<%= text_field 'base_item', 'name'  %></p>

<p><label for="base_item_description">Description</label><br/>
<%= text_field 'base_item', 'description'  %></p>

<p><label for="base_item_dfn_mod">Dfn mod</label><br/>
<%= text_field 'base_item', 'dfn_mod'  %></p>

<p><label for="base_item_dam_mod">Dam mod</label><br/>
<%= text_field 'base_item', 'dam_mod'  %></p>

<p><label for="base_item_price">Price</label><br/>
<%= text_field 'base_item', 'price'  %></p>

<p><label for="base_item_equip_loc">Equip loc</label><br/>
<%= collection_select('base_item',                      'equip_loc',                      SpecialCode.get_codes_and_text('equip_loc'),                       'col_num', 'text', {:include_blank => true} ) %></p>

<p><label for="base_item_race_body_type">Race body type</label><br/>
<%= collection_select('base_item',                      'race_body_type',                      SpecialCode.get_codes_and_text('race_body_type'),                       'col_num', 'text', {:include_blank => true} ) %></p>

<!--[eoform:base_item]-->

