<h1>Listing base_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Equip Location</th>
    <th>Price</th>
    <th>Race Bdy Type</th>
  </tr>
  
<% for base_item in @base_items %>
  <tr>
    <td><%= base_item.name %></td>
    <td>
    <% if base_item.equip_loc.nil? %>
    N/A
    <% else %>
    (<%= base_item.equip_loc %>) - <%= SpecialCode.get_text('equip_loc',base_item.equip_loc) %>
    <% end %>
    </td>
    <td><%= base_item.price %></td>
    <td>
    <% if base_item.race_body_type.nil? %>
    N/A
    <% else %>
    (<%= base_item.race_body_type %>) - <%= SpecialCode.get_text('race_body_type',base_item.race_body_type) %>
    <% end %>
    </td>
    <td><%= link_to 'Show', admin_base_item_path(base_item) %></td>
    <td><%= link_to 'Edit', edit_admin_base_item_path(base_item) %></td>
    <td><%= link_to 'Destroy', admin_base_item_path(base_item), data: {confirm: 'Are you sure?'}, method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @base_items %> 

<br />

<%= link_to 'New base_item', new_admin_base_item_path %>
