<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ascii Game the MMORPG</title>
  <%= stylesheet_link_tag 'main' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'rails' %>
</head>
<body>

<div id="header">
	<!-- 140px -->
	
	<ul class="nav_tabs">
		<li><span class="user_tab"><%= ( session[:player] ? "Player:#{session[:player][:handle]}" : "Welcome, guest" ) %></span></li>
		<li><%= link_to 'Home', :controller => 'home' %></li>
		<li><%= link_to 'Forums', :controller => '/forum', :action => 'boards' %></li>
		<li><%= link_to 'Characters', :controller => '/character', :action => (session[:player] ? 'menu' : 'new') %></li>
		<li><%= link_to('Game', :controller => '/game', :action => 'feature') if session[:player] %></li>
		<li><%= link_to('Kingdom Management', :controller => '/management', :action => 'main_index') if session[:kingbit] %></li>
		<li><%= session[:player] ? link_to('Logout', logout_url()) :
															 link_to('Login', login_url()) + ' or ' + link_to('Register', register_url()) %></li>
	</ul>
</div>

<div id="mid">
	<div >
	<div style="color:green;"><%= flash[:notice] %></div>
		<%= yield  %>
	</div>
	<div id="right_col" class="side_col">
		<%= raw google_ad() %>
	</div>
</div>

<div id="footer">
	Footer
</div>

</body>
</html>
