<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ascii Game the MMORPG</title>
  <%= stylesheet_link_tag 'main' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'rails' %>
</head>
<body>
<a href="https://github.com/callahat/ascii_game"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" /></a>

<div id="header">
    <!-- 140px -->

    <ul class="nav_tabs">
        <li><span class="user_tab"><%= ( session[:player] ? "Player:#{session[:player][:handle]}" : "Welcome, guest" ) %></span></li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Forums', :controller => '/forum', :action => 'boards' %></li>
        <li><%= link_to 'Characters', :controller => '/character', :action => (session[:player] ? 'menu' : 'new') %></li>
        <li><%= link_to('Game', :controller => '/game', :action => 'feature') if session[:player] %></li>
      <% if session[:kingbit] -%>
        <li><%= link_to('Kingdom Management', management_root_path ) %></li>
      <% end -%>
      <% if session[:player].present? -%>
        <li><%= link_to(session[:player].handle, account_path)%></li>
        <li><%= link_to('Logout', logout_path) %></li>
      <% else -%>
        <li><%= link_to('Login', login_path) + ' or ' + link_to('Register', register_path) %></li>
      <% end -%>
    </ul>
</div>

<div id="mid">
    <div id="center_col">
        <%= yield  %>
    </div>
    <div id="left_col" class="side_col">
        <%= ( @pc ?  render(:partial => '/layouts/character_stats') : "No character selected" ) %>
    </div>
    <div id="right_col" class="side_col">
        <div style="margin-top:90px;height:200px;color:green;background-color:#EDFCED; padding:3px;"><%= flash[:notice].to_s.html_safe %></div>
        <%= raw google_ad() %>
    </div>
</div>

<div id="footer">
    Footer
</div>

</body>
</html>
